In [3]:
import pandas as pd

file_path = 'Students_Grading_Dataset.csv'
data = pd.read_csv(file_path)

In [4]:
data

,Student_ID,First_Name,Last_Name,Email,Gender,Age,Department,Attendance (%),Midterm_Score,Final_Score,...,Projects_Score,Total_Score,Grade,Study_Hours_per_Week,Extracurricular_Activities,Internet_Access_at_Home,Parent_Education_Level,Family_Income_Level,Stress_Level (1-10),Sleep_Hours_per_Night
0,S1000,Omar,Williams,student0@university.com,Female,22,Engineering,52.29,55.03,57.82,...,85.90,56.09,F,6.2,No,Yes,High School,Medium,5,4.7
1,S1001,Maria,Brown,student1@university.com,Male,18,Engineering,97.27,97.23,45.80,...,55.65,50.64,A,19.0,No,Yes,NaN,Medium,4,9.0
2,S1002,Ahmed,Jones,student2@university.com,Male,24,Business,57.19,67.05,93.68,...,73.79,70.30,D,20.7,No,Yes,Master's,Low,6,6.2
3,S1003,Omar,Williams,student3@university.com,Female,24,Mathematics,95.15,47.79,80.63,...,92.12,61.63,A,24.8,Yes,Yes,High School,High,3,6.7
4,S1004,John,Smith,student4@university.com,Female,23,CS,54.18,46.59,78.89,...,68.42,66.13,F,15.4,Yes,Yes,High School,High,2,7.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,S5995,Ahmed,Jones,student4995@university.com,Male,19,Business,NaN,82.15,60.33,...,58.42,85.21,D,25.5,No,Yes,High School,Low,10,8.3
4996,S5996,Emma,Brown,student4996@university.com,Male,19,Business,65.11,86.31,49.80,...,60.87,95.96,C,5.0,No,Yes,NaN,Medium,4,4.0
4997,S5997,John,Brown,student4997@university.com,Female,24,CS,87.54,63.55,64.21,...,82.65,54.25,A,24.8,Yes,No,High School,Medium,4,6.3
4998,S5998,Sara,Davis,student4998@university.com,Male,23,CS,92.56,79.79,94.28,...,94.29,55.84,A,16.1,Yes,Yes,Bachelor's,Low,1,8.4
4999,S5999,Maria,Brown,student4999@university.com,Female,21,Engineering,83.92,83.24,53.47,...,69.25,77.86,F,29.2,No,Yes,PhD,Low,2,6.1

In [ ]:
import mysql.connector
from mysql.connector import Error
from dotenv import load_dotenv
import os

load_dotenv()

# Print columns to verify
print("Dataset columns:", data.columns.tolist())

# Convert string boolean values to integer
def to_boolean(value):
    if pd.isna(value):  # Handle NaN
        return 0
    if isinstance(value, str):
        value = value.lower()
        if value in ['yes', 'true', '1']:
            return 1
        if value in ['no', 'false', '0']:
            return 0
    return int(value) if value else 0

# Connect to Aiven MySQL
try:
    connection = mysql.connector.connect(
        host=os.getenv('mysql_host'),
        port=os.getenv('mysql_port'),
        database=os.getenv('mysql_database'),
        user=os.getenv('mysql_user'),
        password=os.getenv('mysql_password')
    )
    if connection.is_connected():
        print("Connected to Aiven MySQL")

        cursor = connection.cursor()

        # Insert data using stored procedure
        for index, row in data.iterrows():
            try:
                cursor.callproc('AddNewStudent', (
                    str(row.get('Student_ID', f'S{index:03d}')),  # Default ID if missing
                    row.get('First_Name', 'Unknown'),
                    row.get('Last_Name', 'Unknown'),
                    row.get('Email', None),
                    row.get('Gender', None),
                    row.get('Age', None),
                    row.get('Department', 'Unknown'),
                    row.get('Attendance_Percentage', 0),
                    row.get('Midterm_Score', 0),
                    row.get('Final_Score', 0),
                    row.get('Assignments_Avg', 0),
                    row.get('Quizzes_Avg', 0),
                    row.get('Participation_Score', 0),
                    row.get('Projects_Score', 0),
                    row.get('Total_Score', 0),
                    row.get('Grade', 'N/A'),
                    row.get('Study_Hours_per_Week', 0),
                    row.get('Sleep_Hours_per_Night', 0),
                    row.get('Stress_Level', 0),
                    to_boolean(row.get('Extracurricular_Activities', 0)),
                    to_boolean(row.get('Internet_Access_at_Home', 0)),
                    row.get('Parent_Education_Level', 'Unknown'),
                    row.get('Family_Income_Level', 'Unknown')
                ))
                connection.commit()
                print(f"Inserted row {index} for Student_ID: {row.get('Student_ID', f'S{index:03d}')}")
            except Error as e:
                print(f"Error inserting row {index}: {e}")

        print("Data loaded successfully")

except Error as e:
    print(f"Connection error: {e}")
finally:
    if connection.is_connected():
        cursor.close()
        connection.close()
        print("Connection closed")

Dataset columns: ['Student_ID', 'First_Name', 'Last_Name', 'Email', 'Gender', 'Age', 'Department', 'Attendance (%)', 'Midterm_Score', 'Final_Score', 'Assignments_Avg', 'Quizzes_Avg', 'Participation_Score', 'Projects_Score', 'Total_Score', 'Grade', 'Study_Hours_per_Week', 'Extracurricular_Activities', 'Internet_Access_at_Home', 'Parent_Education_Level', 'Family_Income_Level', 'Stress_Level (1-10)', 'Sleep_Hours_per_Night']
Connected to Aiven MySQL
Error inserting row 0: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 1: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row 2: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 3: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 4: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 5: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 6: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row 7: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row 8: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 9: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row 10: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 11: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 12: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 13: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row 14: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row 15: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row 16: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row 17: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 18: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row 19: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 20: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row 21: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row 22: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row 23: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 24: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 25: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 26: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row 27: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row 28: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 29: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 30: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 31: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 32: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row 33: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 34: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 35: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row 36: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 37: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row 38: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 39: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 40: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 41: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 42: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 43: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 44: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 45: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row 46: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 47: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 48: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 49: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 50: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row 51: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 52: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row 53: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 54: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 55: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row 56: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 57: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row 58: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row 59: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 60: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row 61: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row 62: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 63: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 64: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 65: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 66: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 67: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 68: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 69: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row 70: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 71: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 72: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 73: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 74: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row 75: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 76: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row 77: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 78: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 79: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row 80: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row 81: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 82: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row 83: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 84: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row 85: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row 86: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 87: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 88: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 89: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 90: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 91: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 92: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 93: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 94: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row 95: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 96: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 97: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row 98: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 99: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 100: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 101: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 102: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 103: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row 104: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 105: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row 106: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 107: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 108: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row 109: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row 110: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row 111: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 112: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 113: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 114: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row 115: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row 116: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 117: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 118: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 119: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row 120: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row 121: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row 122: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row 123: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 124: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 125: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 126: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row 127: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 128: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 129: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 130: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 131: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 132: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row 133: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row 134: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row 135: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 136: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 137: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row 138: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row 139: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row 140: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 141: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row 142: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row 143: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 144: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 145: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row 146: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 147: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 148: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row 149: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 150: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 151: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 152: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 153: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row 154: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row 155: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row 156: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 157: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 158: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 159: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 160: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 161: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row 162: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 163: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row 164: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 165: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 166: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 167: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row 168: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 169: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row 170: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row 171: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 172: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row 173: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row 174: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 175: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 176: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row 177: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row 178: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 179: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row 180: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 181: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row 182: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 183: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 184: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row 185: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row 186: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row 187: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row 188: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 189: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 190: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row 191: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row 192: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row 193: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row 194: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 195: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 196: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row 197: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 198: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 199: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 200: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 201: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 202: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 203: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 204: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 205: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row 206: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 207: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 208: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row 209: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 210: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row 211: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 212: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row 213: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row 214: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row 215: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 216: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 217: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row 218: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row 219: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 220: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row 221: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 222: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row 223: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row 224: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 225: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 226: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row 227: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row 228: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 229: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row 230: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row 231: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 232: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row 233: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 234: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 235: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row 236: 1406 (22001): Data too long for column 'p_Gender' at row 1
Error inserting row 237: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row 238: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row 239: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row 240: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row 241: 1054 (42S22): Unknown column 'nan' in 'field list'
Error inserting row 242: 1406 (22001): Data too long for column 'p_Gender' at row 1

In [ ]:
from pymongo import MongoClient
import os
from dotenv import load_dotenv

load_dotenv()


client = MongoClient(os.getenv('mongo_db_url'))

db = client["ml_dataset_design"]

# Collection name
collections = {
    'students': db['students'],
    'academic_details': db['academic_details'],
    'study_habits': db['study_habits'],
    'family_background': db['family_background'],
    'extracurriculars': db['extracurriculars']
}

# To convert string to boolean
def to_boolean(value):
    if pd.isna(value):
        return False
    if isinstance(value, str):
        value = value.lower()
        if value in ['yes', 'true', 'y', '1']:
            return True
        if value in ['no', 'false', 'n', '0']:
            return False
    return bool(value)

# Split data into collections
student_data = []
academic_data = []
study_habits_data = []
extracurricular_data = []
family_background_data = []

for index, row in data.iterrows():
    student_id = str(row.get('Student_ID', f'S{index:03d}'))  # Default ID if missing

    # Students collection
    student_data.append({
        'Student_ID': student_id,
        'First_Name': row.get('First_Name', 'Unknown'),
        'Last_Name': row.get('Last_Name', 'Unknown'),
        'Email': row.get('Email', None),
        'Gender': row.get('Gender', None),
        'Age': row.get('Age', None)
    })

    # Academic_Details collection
    academic_data.append({
        'Student_ID': student_id,
        'Department': row.get('Department', 'Unknown'),
        'Attendance_Percentage': row.get('Attendance_Percentage', 0),
        'Midterm_Score': row.get('Midterm_Score', 0),
        'Final_Score': row.get('Final_Score', 0),
        'Assignments_Avg': row.get('Assignments_Avg', 0),
        'Quizzes_Avg': row.get('Quizzes_Avg', 0),
        'Participation_Score': row.get('Participation_Score', 0),
        'Projects_Score': row.get('Projects_Score', 0),
        'Total_Score': row.get('Total_Score', 0),
        'Grade': row.get('Grade', 'N/A')
    })

    # Study_Habits collection
    study_habits_data.append({
        'Student_ID': student_id,
        'Study_Hours_per_Week': row.get('Study_Hours_per_Week', 0),
        'Sleep_Hours_per_Night': row.get('Sleep_Hours_per_Night', 0),
        'Stress_Level': row.get('Stress_Level', 0)
    })

    # Extracurriculars collection
    extracurricular_data.append({
        'Student_ID': student_id,
        'Extracurricular_Activities': to_boolean(row.get('Extracurricular_Activities', False))
    })

    # Family_Background collection
    family_background_data.append({
        'Student_ID': student_id,
        'Internet_Access_at_Home': to_boolean(row.get('Internet_Access_at_Home', False)),
        'Parent_Education_Level': row.get('Parent_Education_Level', 'Unknown'),
        'Family_Income_Level': row.get('Family_Income_Level', 'Unknown')
    })

# Insert data into each collection
collections['students'].insert_many(student_data)
print(f"Inserted {len(student_data)} documents into students")
collections['academic_details'].insert_many(academic_data)
print(f"Inserted {len(academic_data)} documents into academic_details")
collections['study_habits'].insert_many(study_habits_data)
print(f"Inserted {len(study_habits_data)} documents into study_habits")
collections['extracurriculars'].insert_many(extracurricular_data)
print(f"Inserted {len(extracurricular_data)} documents into extracurriculars")
collections['family_background'].insert_many(family_background_data)
print(f"Inserted {len(family_background_data)} documents into family_background")

# Verify sample data
for coll_name, coll in collections.items():
    print(f"\nSample from {coll_name}:")
    sample_docs = coll.find().limit(2)
    for doc in sample_docs:
        print(doc)

# Close connection
client.close()

Inserted 5000 documents into students
Inserted 5000 documents into academic_details
Inserted 5000 documents into study_habits
Inserted 5000 documents into extracurriculars
Inserted 5000 documents into family_background

Sample from students:
{'_id': ObjectId('67cd24d994a02154b2e19ef7'), 'Student_ID': 'S1000', 'First_Name': 'Omar', 'Last_Name': 'Williams', 'Email': 'student0@university.com', 'Gender': 'Female', 'Age': 22}
{'_id': ObjectId('67cd24d994a02154b2e19ef8'), 'Student_ID': 'S1001', 'First_Name': 'Maria', 'Last_Name': 'Brown', 'Email': 'student1@university.com', 'Gender': 'Male', 'Age': 18}

Sample from academic_details:
{'_id': ObjectId('67cd24e094a02154b2e1b27f'), 'Student_ID': 'S1000', 'Department': 'Engineering', 'Attendance_Percentage': 0, 'Midterm_Score': 55.03, 'Final_Score': 57.82, 'Assignments_Avg': 84.22, 'Quizzes_Avg': 74.06, 'Participation_Score': 3.99, 'Projects_Score': 85.9, 'Total_Score': 56.09, 'Grade': 'F'}
{'_id': ObjectId('67cd24e094a02154b2e1b280'), 'Student_ID': 'S1001', 'Department': 'Engineering', 'Attendance_Percentage': 0, 'Midterm_Score': 97.23, 'Final_Score': 45.8, 'Assignments_Avg': nan, 'Quizzes_Avg': 94.24, 'Participation_Score': 8.32, 'Projects_Score': 55.65, 'Total_Score': 50.64, 'Grade': 'A'}

Sample from study_habits:
{'_id': ObjectId('67cd24e594a02154b2e1c607'), 'Student_ID': 'S1000', 'Study_Hours_per_Week': 6.2, 'Sleep_Hours_per_Night': 4.7, 'Stress_Level': 0}
{'_id': ObjectId('67cd24e594a02154b2e1c608'), 'Student_ID': 'S1001', 'Study_Hours_per_Week': 19.0, 'Sleep_Hours_per_Night': 9.0, 'Stress_Level': 0}

Sample from family_background:
{'_id': ObjectId('67cd24e894a02154b2e1ed17'), 'Student_ID': 'S1000', 'Internet_Access_at_Home': True, 'Parent_Education_Level': 'High School', 'Family_Income_Level': 'Medium'}
{'_id': ObjectId('67cd24e894a02154b2e1ed18'), 'Student_ID': 'S1001', 'Internet_Access_at_Home': True, 'Parent_Education_Level': nan, 'Family_Income_Level': 'Medium'}

Sample from extracurriculars:
{'_id': ObjectId('67cd24e794a02154b2e1d98f'), 'Student_ID': 'S1000', 'Extracurricular_Activities': False}
{'_id': ObjectId('67cd24e794a02154b2e1d990'), 'Student_ID': 'S1001', 'Extracurricular_Activities': False}